* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    --section-bg-color: #ffffff;
    --nav-footer-bg-color: #9b2222;
    --aside-bg-color: #828a8f;
    --header-bg-color: rgb(117, 31, 31);

    --nav-element-animation-speed: 0.4s;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--section-bg-color);
}


/* ----- MAIN GRID ----- */
#grid-container {
    display: grid;
    width: 100vw;
    height: auto;
}


#grid-container > header {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 6;
    width: 100%;
    height: 8vh;
    background-color: var(--header-bg-color);
}

#grid-container > section {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
    width: 100%;
    height: 100%;
    min-height: 76vh;
    background-color: var(--section-bg-color);
}

#grid-container > footer {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 6;
    width: 100%;
    height: auto;
    min-height: 8vh;
    background-color: var(--nav-footer-bg-color);
}

#grid-container > aside {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 6;
    width: 100%;
    height: 100%;
    background-color: var(--aside-bg-color);
}
/* ----- MAIN GRID END ----- */


/* ----- NAV ----- */
nav {
    width: 100%;
    height: 8vh;
    background-color: var(--nav-footer-bg-color);
    align-items: center;
    display: flex;
}

nav h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5em;
    color: white;
}

#nav-logo {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
}

#nav-logo img {
    height: 85%;
    float: left;
    padding: 0 10px 0 10px;
}

nav ul {
    list-style: none;
    margin-left: auto;
    display: flex;
}

.nav-element::after {
    content: "|";
    color: white;
}

.nav-element:last-child::after {
    content: "";
}

.nav-element a {
    text-decoration: none;
    color: white;
    padding: 0 15px 0 15px;
    outline: 2px solid rgba(0,0,0,0);
    outline-offset: 20px;
    transition: all var(--nav-element-animation-speed);
}

.nav-element a:hover {
    outline: 2px solid white;
    outline-offset: 1px;
    transition: all var(--nav-element-animation-speed);
}
/* ----- NAV END ----- */


/* ----- HEADER ----- */
header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    padding: 0;
}
/* ----- HEADER END ----- */


/* ----- SECTION ----- */
section {
    display: flex;
    flex-direction: column;
}

section > * {
    margin-left: 1vw;
}

section *:last-child {
    margin-bottom: 4vh;
}

#section-heading-img {
    width: 100%;
    object-fit: cover;
    height: 25vh;
    margin: 0;
    padding: 0;
}

section img {
    width: 30%;
    height: auto; 
    border: 1px solid black;
}

section .image-description {
    font-size: 0.8em;
}

section h1 {
    font-size: 2.5em;
}

section .reference {
    vertical-align: super;
    font-size: 0.8em;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

section table {
    width: 50%;
    border: 1px solid black;
}

section table th {
    border: 1px solid black;
    background-color: var(--nav-footer-bg-color);
    color: white;
}

section table td {
    border: 1px solid black;
}

section table tr:nth-child(even) {
    background-color: #cfcfcf;
}

section table caption {
    font-size: 1.5em;
    margin-bottom: 1vh;
}
/* ----- SECTION END ----- */


/* ----- ASIDE ----- */
aside {
    display: flex;
    flex-direction: column;
}

aside h3 {
    width: auto;
    margin-left: 1vw;
}

aside ol {
    margin-left: 1.2vw;
}

aside ol li a {
    color: black;
}
/* ----- ASDIE END ----- */


/* ----- FOOTER ----- */
footer {
    display: flex;
    align-items: center;
}

#footer-nav {
    list-style: none;
    padding-left: 0;
    align-items: flex-start;
    margin: auto;
    width: 30%;
    text-align: center;
}

#footer-nav li {
    padding: 0 5px 0 5px;
    display: inline;
}

#footer-nav a {
    text-decoration: underline;
    color: white;
}

#footer-nav a:hover {
    color: #999999;
}
/* ----- FOOTER END ----- */


/* ----- MOBILE STYLES ----- */

@media screen and (max-width: 1410px) {
    nav h1 {
        display: none;
    }
    
}

@media screen and (max-width: 800px) {
    #grid-container > aside {
        display: none;
    }
    
    nav ul {
        display: none;
    }

    nav h1 {
        display: block;    
    }

    section {
        text-align: center;
        align-items: center;
    }

    section > * {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    section h1 {
        font-size: 2em;
    }

    #grid-container > section {
        grid-column-end: 6;
    }
}

/* ----- MOBILE STYLES END ----- */